<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <!-- <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}"> -->
  <link rel="stylesheet" href="{{ "/assets/css/syle.css" | relative_url }}">
  {%- feed_meta -%}

  <!-- dark theme using DarkReader -->
  <!-- <script src="//unpkg.com/darkreader@4.9.40/darkreader.js"></script> -->
  <!-- <script type="text/javascript"> -->
  <!--   DarkReader.setFetchMethod(window.fetch); // Fix to remedy CORS errors in chrome console -->
  <!--   //DarkReader.enable(); -->
  <!--   DarkReader.auto( {brightness: 100, contrast: 90, sepia: 10} ); -->
  <!-- </script> -->


  <!-- Math rendering using MathJax -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


  {%- include analytics.html -%}
</head>
