
<div class ="image-gallery">
  {% assign sorted = site.static_files | sort: 'date' | reverse %}
  {% for file in sorted %}
  {% if file.path contains include.folder %}
  {% if file.extname == '.mp4' %}
    {% assign filenameparts = file.path | split: "/" %}
      {% assign filename = filenameparts | last | replace: file.extname,"" %}
      {% assign thumbname = filename | append: ".png" %}
      {% assign descname  = filename | append: ".html" %}
       <!-- <div class="box"><a href="{{ file.path | relative_url }}" title="{{ filename }}"> -->
       <div class="box"><a href="{{ site.showcaseDescriptions }}{{ descname }}" title="{{ filename }}">
         <img src="{{ site.showcaseThumbs }}{{ thumbname }} " alt="{{ filename }}"  class="img-gallery" />
       </a></div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
